<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDu1IiqHKWygtkFaaDI9_yCbNlqlb7PD9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>152003486678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Timtech.coffeU</string>
	<key>PROJECT_ID</key>
	<string>coffeu-f7298</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeu-f7298.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152003486678:ios:d609d2a3ae5d1d3afeba77</string>
</dict>
</plist>